body{
    max-width: 100vh;
    margin: auto;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 500px;
    border-radius:20px;
    padding-left:1em;
    padding-right:1em;

    
    
}
header,
section{
    margin:0.5em;
    margin-top:0;
    
    
}


footer>ul{
    
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:1em;
    padding:1em;
   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

/* bakcgournd images */

.stair-game>.container{
    background-image: url('images/stairs.jpg');
    background-size: cover;
    background-position: center;
    background-color: black;
    
}

.dot-game>.container{
    background-image: url('images/train.jpg');
    background-size: cover;
    background-position: center;
    background-color: black;
}


.movie-app>.container{
    background-image: url('images/movie.jpg');
    background-size: cover;
    background-position: bottom;
    background-color: black;
}

/* font style */
/* font-family: 'Alfa Slab One', cursive;
font-family: 'Blinker', sans-serif;
font-family: 'DM Serif Display', serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Suez One', serif;
font-family: 'Vollkorn', serif; */

.dot-game,
.stair-game,
.movie-app{
    color: white;
    font-family: 'Vollkorn', serif;
    font-size: 2rem;
}

.intro{
    line-height: 1;
    font-family: 'Blinker', sans-serif;
    font-size: 2.5rem;
}

.container>.button{
    display:flex;
    justify-content: center;
    font-family:'Source Sans Pro', sans-serif ;
    font-size: 1.5rem;
    
}

a:link{
    text-decoration: none;
    color:rgb(0, 0, 0);
}
.code,
.play{
   margin:0.5em; 
   background-color: rgba(255, 255, 255, 0.644);
   padding: 0.3em 1em;
   
}